<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Description</key>
    <string>Whim Architecture Stateful Service With Extra Comments</string>
    <key>Kind</key>
    <string>Xcode.IDEKit.TextSubstitutionFileTemplateKind</string>
    <key>Options</key>
    <array>
        <dict>
            <key>Description</key>
            <string>Description of how to use template</string>
            <key>Identifier</key>
            <string>productDescription</string>
            <key>Name</key>
            <string>Enter ONLY Service Name:</string>
            <key>Type</key>
            <string>static</string>
            <key>Default</key>
            <string>e.g. Auth (without Service suffix)</string>
        </dict>
        <dict>
            <key>Description</key>
            <string>The name of the class to create</string>
            <key>Identifier</key>
            <string>productName</string>
            <key>Name</key>
            <string>Service:</string>
            <key>NotPersisted</key>
            <true/>
            <key>Required</key>
            <true/>
            <key>Type</key>
            <string>text</string>
        </dict>
        <dict>
            <key>Description</key>
            <string>Comment</string>
            <key>Identifier</key>
            <string>comment</string>
            <key>Name</key>
            <string>*</string>
            <key>Type</key>
            <string>static</string>
            <key>Default</key>
            <string>Contains extra comments for the newcomers.</string>
        </dict>
        <dict>
            <key>Identifier</key>
            <string>service</string>
            <key>Type</key>
            <string>static</string>
            <key>Default</key>
            <string>___VARIABLE_productName:identifier___Service</string>
        </dict>
        <dict>
            <key>Identifier</key>
            <string>serving</string>
            <key>Type</key>
            <string>static</string>
            <key>Default</key>
            <string>___VARIABLE_productName:identifier___Serving</string>
        </dict>
    </array>
    <key>Platforms</key>
    <array>
        <string>com.apple.platform.iphoneos</string>
    </array>
    <key>SortOrder</key>
    <string>10</string>
    <key>Summary</key>
    <string>Whim Architecture Stateful Service</string>
</dict>
</plist>
